<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/jubayerhussain/IdeaProjects/SimlpJavaTesTNG">
        <classes>

            <class name="FirstTest"></class>
            <class name="SecondTest"></class>
        </classes>


    </test>
</suite>